<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">
		
		<!-- Auto Scanning -->
		<context:component-scan base-package="com.adiwood"></context:component-scan>
		
		
		<!-- Properties -->
		<bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			
			<property name="location" value="classpath:jdbc.properties"></property>
			
		</bean>
		<!-- <context:property-placeholder location="classpath:jdbc.properties"/> -->
		
		
		<!-- Database -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		
			<property name="driverClassName" value="${driver}"></property>
			<property name="url" value="${url}"></property>
			<property name="username" value="${username}"></property>
			<property name="password" value=""></property>
			<property name="initialSize" value="${initialSize}"></property>
			<property name="maxActive" value="${maxActive}"></property>
			<property name="maxIdle" value="${maxIdle}"></property>
			<property name="minIdle" value="${minIdle}"></property>
			<property name="maxWait" value="${maxWait}"></property>
			
		</bean>
		
		
		<!-- Mapper -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		
			<property name="dataSource" ref="dataSource"></property>
			<property name="mapperLocations" value="classpath:com/adiwood/mapper/*.xml"></property>
			
		</bean>
		
		
		<!-- Dao -->
		<bean id="" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		
			<property name="basePackage" value="com.adiwood.dao"></property>
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
			
		</bean>
		
		
		<!-- Transactor -->
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		
			<property name="dataSource" ref="dataSource"></property>
			
		</bean>


</beans>
<!-- 
	Dependency Scope
	POM 4 <scope>
	* compile : all period
	* provided : developing period
	* runtime : running and testing period
	* test : testing period
	* system
 -->
